#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Ensures content flows vertically */
  text-align: center;
  z-index: 0;
}

/* ----------------------------------- Home ---------------------------------------------------------*/
.Home {
  display: flex; /* Make the container a flex container */
  flex-direction: column; /* VBox layout */
  width: 100%;  /* Fills #root */
  height: 100%; 
  overflow: hidden;  /* no scrolling */
  justify-content: space-between;
}


/* --------------------------------- all premia buttons -------------------------------------------------------------- */
.PremiaChangeBtn {
  font-size: 0.85rem;
  border: none;
  border-radius: 16px;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 1.5);
  cursor: pointer;
  background-color: #724e1f;
  transition: background-color 0.3s ease;
  
}


/* ------------------------------ fees section -------------------------------------------------------------- */
.Fees {
  display: flex;
  flex-direction: row;  /* Aligns the FeeCard components in a row */
  justify-content: flex-start;  
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}


/* ------------------------------ sugar dollar price -------------------------------------------------------------- */
.sugarDollarPrice .PremiaChangeBtn {
  font-size: 1.5rem;      
  background: none;
  color: black;
  max-height: 61px;
  margin-top: 10px;
}


/* ------------------------------ shekel dollar price -------------------------------------------------------------- */
.shekelValue {
  font-size: 1.5rem;      
  max-height: 61px;
  display: flex;
  flex-direction: row;  /* Ensure the elements are aligned horizontally */
  justify-content: center; /* Centers content horizontally */
  align-items: center;
}


/* ----------------------------copy text button -----------------------------------------------------------------------*/
.copyButton {
  font-size: 1.2em;
  padding: 0.5em 0.6em;
  border-radius: 0.5em;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000b4;
}

.copyContainer {
  display: inline-block; /* Ensures the container only takes the width of the button */
  position: relative;
  padding: 3px;
  max-width: min-content;
  margin: 0 auto; /* Centers the container horizontally */
  margin-bottom: 20px; /* Adds space below the container */
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  border-radius: 0.9em;
  transition: all 0.4s ease;
}

.copyContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 0.9em;
  z-index: -10;
  filter: blur(0);
  transition: filter 0.4s ease;
}

.copyContainer:hover::before {
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  filter: blur(1.2em);
}
.copyContainer:active::before {
  filter: blur(0.2em);
}

/* margin = space around the body : a b c d goes to top right bottom left  */
/* padding = space between content and the border (makes component larger) */
