.sugar-card {
    display: flex;
    flex-direction: row; /* horizontal layout */
    align-items: center;
    /* border: 1px solid #ccc; */
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    height: 18%;
    margin: 2%;
    position: relative;
}

.sugar-image {
    width: 30%;  /* Fixed width for the image */
    height: 100%;
    /* border-top-left-radius: 16px;
    border-bottom-left-radius: 16px; */
    /* background-color: white; */
}

.sugar-image img {
    width: 100%;  /* Ensures the image doesn't overflow horizontally */
    height: 100%;  
    object-fit: cover; /* Ensures it fills the space neatly */
    border-radius: 16px;
}

.sugar-info {
    display: flex;   /* make that div a container */
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;  /* tell items to take as much space as they can */
    align-items: center; /* optional, aligns items vertically */
    padding-left: 8px;
    padding-right: 15px;
    /* background-color: white; */
    /* border-top-right-radius: 16px;
    border-bottom-right-radius: 16px; */
    
}

.info-left-side {
    display: flex;   /* make that div a container */
    flex-direction: column;
    align-items: baseline; /* stick to left */
}

.sugar-info-name {
    font-size: 20px;
    font-weight: 500;
}

.sugar-info-price {
    font-size: 20px;
    font-weight: 400;
    /* color: #4b39ef; */
    color: black;
    align-self: flex-start; 
}

/* margin = space around the body : a b c d goes to top right bottom left  */
/* padding = space between content and the border (makes component larger) */

.floating-text {
  position: absolute;
  bottom: 8px;
  right: 15px;
  color: black;
  font-size: 16px;
  pointer-events: none; /* Allows clicking through if needed */
}